@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #000;
}

.call-us-button {
    @apply px-[18px] py-[8px] border-[#3F959B] border-[1px] border-solid shadow-button
    hover:shadow-button-hover whitespace-nowrap;
  color: #fff; /* Set your desired text color */
  font-weight: 400; /* Set your desired font weight */
  transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
}

.grid-button {
    @apply px-[20px] py-[8px] bg-black text-white
}
.button {
    @apply px-[20px] py-[8px] whitespace-nowrap
}
section {
    @apply text-white
}
button {
    @apply text-[13px] md:text-[15px] lg:text-[16px]
}